@import url(//db.onlinewebfonts.com/c/07bc241768c969f6b6a27a7bf0dfb490?family=TT+Norms+Regular);

body {
	background-color: #f3f3fb;
}

.sideNav {
	min-height: 100vh;
	background-color: white;
	max-width: 280px;
}
.wrapper {
}
img {
	height: 100px;
}
.userLogo {
	padding-top: 5em;
}
.userName_arrow {
	padding-bottom: 1em;
}
.down_arrow {
	padding: 1.3em 0 0 0em;
}

.img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.img img {
	margin: 0px 5px -10px 0px;
}
.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.d-flex2 {
	display: flex;
	align-items: center;
}
.bar {
	margin: -0.4em 3em -1.5em -1.3em;
	padding-bottom: 0.6em;
}
.userName {
	padding: 1em 0.5em 0 1em;
	color: #0d1c2e;
}

.navItem_icon {
	padding-right: 0.8em;
}

.navItem {
	padding: 0 0;
	text-transform: uppercase;
	color: #707c97;
	font-family: 'TT Norms Regular';
	font-weight: 900;
}
.navItemLogOut {
	padding-top: 14em;
}

.hide {
	visibility: hidden;
}
.setBg {
	background-color: #f3f3fb;
}
/*

name 0D1C2E\
blue 2A8BF2
grey 707C97
*/
