body {
	background-color: #f3f3fb;
}

.wrapper {
	min-height: 100vh;
	background-color: white;
	max-width: 30vh;
}

img {
	height: 100px;
}

.img {
	max-height: 70px;
	max-width: 70px;
	border-radius: 100px;
}
